<div class="w-[82.6042vw] h-[46.4648vw] rounded-[1.1458vw] opacity-[0.98] bg-[#010404] border-[.5208vw] border-frameColor rounded-[1.1458vw] relative">
    <img src="./assets/image/tablet-shadow.svg" alt="tablet-bg" class="w-[81.6667vw] h-[45.5729vw] absolute top-0 left-0 rounded-[.6771vw]" draggable="false">
    <div class="p-[3.3854vw] z-[6] relative">
        <div class="flex items-center gap-[.2083vw]">
            <span class="w-max h-[1.6245vw] flex items-center justify-center text-white bg-[#5C5C5C] px-[.3146vw] text-[.7292vw] leading-[.8333vw] font-chakra-bold border-[.0203vw] border-[#ffffff26]">ESC</span>
            <span class="w-max h-[1.6245vw] flex items-center justify-center text-white bg-[#5C5C5C] px-[1.1714vw] text-[.7292vw] leading-[.8333vw] font-chakra-bold border-[.0203vw] border-[#ffffff26]">{{ Locales['CLOSE_MENU'] }}</span>
        </div>

        <div class="flex items-center gap-[1.7979vw] mt-[.3979vw]">
            <div class="flex flex-col justify-center items-center relative">
                <div class="w-[50.7677vw] max-w-[50.7677vw] h-[8.8313vw] bg-[#navbarBgColor] px-[.9896vw] flex items-center relative z-[9] border-[.0227vw] border-[#ffffff26]">
                    <img src="./assets/image/profile-shadow.svg" alt="profile-shadow" class="w-[17.0313vw] h-[8.9063vw] absolute left-0" draggable="false">
                    <div class="flex flex-col object-contain gap-[.199vw] mr-[1.1313vw]">
                        <div class='w-max flex flex-col justify-center items-center'>
                            <div class="w-[3.5706vw] h-[3.5706vw] flex items-center justify-center">
                                <img src="./assets/image/hexagon.svg" alt="Hexagon" class="w-[3.5706vw] h-[3.5706vw] absolute" draggable="false">
                                <p class="text-[1.5198vw] font-chakra-semibold text-[#FDDF76] leading-[1.6146vw]">{{ userDetail.currentLevel }}</p>
                            </div>
                            <p class="text-[1.2859vw] font-chakra-semibold text-[#FDDF76] leading-[1.3901vw] max-w-[4.4271vw] w-max line-clamp-1 mt-[.2083vw]">{{ Locales['LEVEL'] }}</p>
                        </div>
                    </div>

                    <div class="w-[5.1563vw] h-[5.5729vw] flex flex-col items-center gap-[.2083vw] mr-[1.1375vw]">
                        <div class="w-[5.1558vw] h-[5.1558vw] flex items-center justify-center relative z-[7]">
                            <img :src="userDetail.courierImage ? userDetail.courierImage : './assets/image/default.png'" alt="Profile Image" class="w-[5.1558vw] h-[5.1558vw] blur-[.2083vw]" draggable="false">
                            <img :src="userDetail.courierImage ? userDetail.courierImage : './assets/image/default.png'" class="w-[5.1558vw] h-[5.1558vw] absolute" draggable="false">
                        </div>
                        <div class="bg-[#D9D9D9]/[0.22] h-[.2083vw] w-full relative">
                            <div :style="{ width: `${(userDetail.currentXp % 3000) / 3000 * 100}%` }" class="bg-[#D0D0D0] h-[.2083vw] shadow-[0vw_0vw_1.3914vw_0vw_#9D9D9D] absolute left-0 z-[6]"></div>
                        </div>
                        <div class="bg-[#6D6D6D] w-[3.5401vw] h-[.1396vw] absolute bottom-0 backdrop-blur-[.0885vw]"></div>
                    </div>

                    <div class="w-[10.9375vw] h-[5.2953vw]">
                        <p class="text-white text-[1.1362vw] leading-[1.224vw] font-chakra-bold line-clamp-1 max-w-[10.9375vw]">{{ userDetail.fullname }}</p>
                        <p class="text-[#888] text-[.6254vw] leading-[.7292vw] font-chakra-medium line-clamp-1 max-w-[10.9375vw] mt-[.0781vw]">{{ userDetail.description }}</p>

                        <div class="flex gap-[.3125vw] mt-[.3568vw] profile-total-duty">
                            <div class="w-[2.6042vw] h-[2.6042vw] p-[.2083vw] rounded-[.1563vw] shadow-[0vw_.0694vw_.0694vw_0vw_bg-black/[0.5]] flex flex-col">
                                <div class="backdrop-blur-[.2863vw] rounded-[.1837vw] h-[2.1875vw] flex flex-col items-center justify-center profile-total-duty-hours">
                                    <p class="text-[#F3AF5F] font-chakra-bold text-[.8169vw] leading-[.921vw] line-clamp-1 max-w-[2.1875vw]">{{ userDetail.hours }}</p>
                                    <p  class="text-white font-chakra-bold text-[.3907vw] leading-[.4948vw] line-clamp-1 max-w-[2.1875vw]">{{ Locales['HOURS'] }}</p>
                                </div>
                            </div>
                            <div class="w-[2.6042vw] h-[2.6042vw] p-[.2083vw] rounded-[.1563vw] shadow-[0vw_.0694vw_.0694vw_0vw_bg-black/[0.5]] flex flex-col">
                                <div class="backdrop-blur-[.2863vw] rounded-[.1837vw] h-[2.1875vw] flex flex-col items-center justify-center profile-total-duty-minutes">
                                    <p class="text-[#B2F35F] font-chakra-bold text-[.8169vw] leading-[.921vw] line-clamp-1 max-w-[2.1875vw]">{{ userDetail.minutes }}</p>
                                    <p  class="text-white font-chakra-bold text-[.3907vw] leading-[.4948vw] line-clamp-1 max-w-[2.1875vw]">{{ Locales['MINUTES'] }}</p>
                                </div>
                            </div>
                            <div class="w-[2.6042vw] h-[2.6042vw] p-[.2083vw] rounded-[.1563vw] shadow-[0vw_.0694vw_.0694vw_0vw_bg-black/[0.5]] flex flex-col">
                                <div class="backdrop-blur-[.2863vw] rounded-[.1837vw] h-[2.1875vw] flex flex-col items-center justify-center profile-total-duty-seconds">
                                    <p class="text-[#F35F7A] font-chakra-bold text-[.8169vw] leading-[.921vw] line-clamp-1 max-w-[2.1875vw]">{{ userDetail.seconds }}</p>
                                    <p  class="text-white font-chakra-bold text-[.3907vw] leading-[.4948vw] line-clamp-1 max-w-[2.1875vw]">{{ Locales['SECONDS'] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-[25.5427vw] grid grid-template-2 gap-x-[.7531vw] gap-y-[.5906vw]">
                        <div class="w-[12.3946vw] h-[2.7083vw] rounded-[.0633vw] border-[.0316vw] relative flex items-center border-[#f6cbcb17] bg-[#d9d9d908]">
                            <img src="./assets/image/istatistic-shadow.svg" alt="istatistic-shadow" class="w-[6.6667vw] h-[2.6042vw] absolute" draggable="false">
                            <span class="w-[.0509vw] h-[.8154vw] bg-[#D9D9D9] absolute left-0"></span>
                            <div class="flex items-center gap-x-[.6083vw] ml-[.5729vw]">
                                <img src="./assets/image/box.svg" class="w-[1.0417vw] h-[1.1458vw]" draggable="false">
                                <div class="flex flex-col justify-center">
                                    <p class="font-chakra-bold text-[.6047vw] text-[#A1A1A1] leading-[.7089vw]">{{ Locales['TOTAL_EARNED_MONEY'] }}</p>
                                    <p class="font-chakra-bold text-[.6047vw] text-[#D7D7D7] leading-[.7089vw]">${{ userDetail.totalEarnedMoney }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-[12.3946vw] h-[2.7083vw] rounded-[.0633vw] border-[.0316vw] relative flex items-center border-[#f6cbcb17] bg-[#d9d9d908]">
                            <img src="./assets/image/istatistic-shadow.svg" alt="istatistic-shadow" class="w-[6.6667vw] h-[2.6042vw] absolute" draggable="false">
                            <span class="w-[.0509vw] h-[.8154vw] bg-[#D9D9D9] absolute left-0"></span>
                            <div class="flex items-center gap-x-[.6083vw] ml-[.5729vw]">
                                <img src="./assets/image/box.svg" class="w-[1.0417vw] h-[1.1458vw]" draggable="false">
                                <div class="flex flex-col justify-center">
                                    <p class="font-chakra-bold text-[.6047vw] text-[#A1A1A1] leading-[.7089vw]">{{ Locales['TOTAL_EARNED_XP'] }}</p>
                                    <p class="font-chakra-bold text-[.6047vw] text-[#D7D7D7] leading-[.7089vw]">{{ userDetail.totalEarnedXP }}XP</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-[12.3946vw] h-[2.7083vw] rounded-[.0633vw] border-[.0316vw] relative flex items-center border-[#f6cbcb17] bg-[#d9d9d908]">
                            <img src="./assets/image/istatistic-shadow.svg" alt="istatistic-shadow" class="w-[6.6667vw] h-[2.6042vw] absolute" draggable="false">
                            <span class="w-[.0509vw] h-[.8154vw] bg-[#D9D9D9] absolute left-0"></span>
                            <div class="flex items-center gap-x-[.6083vw] ml-[.5729vw]">
                                <img src="./assets/image/box.svg" class="w-[1.0417vw] h-[1.1458vw]" draggable="false">
                                <div class="flex flex-col justify-center">
                                    <p class="font-chakra-bold text-[.6047vw] text-[#A1A1A1] leading-[.7089vw]">{{ Locales['TOTAL_PACKAGES_DISTRIBUTED'] }}</p>
                                    <p class="font-chakra-bold text-[.6047vw] text-[#D7D7D7] leading-[.7089vw]">{{ userDetail.totalPackagesDistributed }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-[12.3946vw] h-[2.7083vw] rounded-[.0633vw] border-[.0316vw] relative flex items-center border-[#f6cbcb17] bg-[#d9d9d908]">
                            <img src="./assets/image/istatistic-shadow.svg" alt="istatistic-shadow" class="w-[6.6667vw] h-[2.6042vw] absolute" draggable="false">
                            <span class="w-[.0509vw] h-[.8154vw] bg-[#D9D9D9] absolute left-0"></span>
                            <div class="flex items-center gap-x-[.6083vw] ml-[.5729vw]">
                                <img src="./assets/image/box.svg" class="w-[1.0417vw] h-[1.1458vw]" draggable="false">
                                <div class="flex flex-col justify-center">
                                    <p class="font-chakra-bold text-[.6047vw] text-[#A1A1A1] leading-[.7089vw]">{{ Locales['TOTAL_DISTANCE_TRAVELED'] }}</p>
                                    <p class="font-chakra-bold text-[.6047vw] text-[#D7D7D7] leading-[.7089vw]">{{ userDetail.totalDistanceTraveled }}KM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center gap-x-[.7813vw] mt-[1.7188vw]">
                    <div class="w-[16.1726vw] h-[24.9607vw] flex flex-col items-center relative bg-[#040404] rounded-[.2366vw] p-[.5729vw]" v-if="!isJobSelected" v-for="(job, index) in Jobs" :id="job.id" :key="`job-${index}`" @click="SelectSound(job, true);ChooseJob(job)" :class="[job.id === 'sweet' && selectedJob.id === job.id ? 'shadow-[0vw_0vw_6.5324vw_0vw_#d74c8f3b] border-[.1293vw] border-[#d74c8f]' : '', job.id === 'pizza' && selectedJob.id === job.id ? 'shadow-[0vw_0vw_6.5324vw_0vw_#ff41413b] border-[.1293vw] border-[#FF4141]' : '', job.id === 'hamburger' && selectedJob.id === job.id ? 'shadow-[0vw_0vw_6.5324vw_0vw_#ff41413b] border-[.1293vw] border-[#FF4141]' : '', userDetail.currentLevel >= job.level  ? 'cursor-pointer' : '']">
                        <img :src="`./assets/image/${job.image}.png`" alt="bg-1" class="w-full h-full absolute bottom-0 z-[6] rounded-[.2366vw] object-cover" draggable="false">
                        <div class="absolute top-0 left-0 w-full h-full bg-black/[.86] z-[8] rounded-[.2366vw] backdrop-blur-[.2036vw]" v-if="userDetail.currentLevel < job.level">
                            <div class="w-full h-full flex flex-col items-center justify-center">
                                <div class="w-[5.4052vw] h-[5.4052vw] flex items-center justify-center">
                                    <img src="./assets/image/hexagon-white.svg" alt="hexagon-white" class="w-[5.4052vw] h-[5.4052vw] absolute" draggable="false">
                                    <p class="text-[#B5B5B5] text-center font-chakra-semibold text-[2.3006vw] leading-[2.4048vw]">{{ job.level }}</p>
                                </div>
                                <p class="text-[#B5B5B5] text-center font-chakra-semibold text-[1.9467vw] leading-[2.0508vw]">{{ Locales['LEVEL'] }}</p>
                            </div>
                        </div>
                        <div class="flex flex-col justify-between z-[7] w-full h-full rounded-[.2366vw]">
                            <div class="flex flex-col object-contain items-start justify-center" id="main-content-item-level">
                                <div class="w-[2.6042vw] h-[2.1016vw] flex items-center justify-center">
                                    <img src="./assets/image/hexagon.svg" alt="Hexagon" class="w-[2.1016vw] h-[2.1016vw] absolute" draggable="false">
                                    <p class="text-[.8945vw] font-chakra-semibold text-[#FDDF76] leading-[.9986vw]">{{ job.level }}</p>
                                </div>
                                <p class="w-[2.6042vw] text-[.7569vw] font-chakra-semibold text-[#FDDF76] leading-[.861vw] text-center mt-[.1042vw]">{{ Locales['LEVEL'] }}</p>
                            </div>
                            <div class="w-full flex flex-col items-center justify-center mb-[1.5625vw]">
                                <p class="text-[#E5E5E5] text-[1.0691vw] leading-[1.3816vw] font-chakra-bold max-w-[15.625vw] line-clamp-1 job-name">{{ job.name }}</p>
                                <p class="text-[#E5E5E5] text-[.5926vw] leading-[.6967vw] font-chakra-semibold max-w-[15.625vw] line-clamp-1 job-description">{{ job.desc }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-else class="w-[16.1726vw] h-[24.9607vw] flex flex-col items-center relative bg-[#040404] rounded-[.2366vw] p-[.5729vw] car-selectable" v-for="(vehicle, index) in carList" :id="vehicle.id" :key="`car-${index}`" @click="SelectSound(vehicle, true);ChooseCar(vehicle);"  :class="[userDetail.currentLevel >= vehicle.level  ? 'cursor-pointer ' : '', vehicle.id === 'scooter' && selectedCar.id === vehicle.id ? 'border-[.1293vw] border-[#D82A2A] shadow-[0vw_0vw_6.5324vw_0vw_#D82A2A3b]' : '', vehicle.id === 'normal' && selectedCar.id === vehicle.id ? 'border-[.1293vw] border-[#6BAAFD] shadow-[0vw_0vw_6.5324vw_0vw_#6baafd3b]' : '', vehicle.id === 'luxury' && selectedCar.id === vehicle.id ? 'border-[.1293vw] border-[#999] shadow-[0vw_0vw_6.5324vw_0vw_#9999993b]' : '']">
                        <img :src="`./assets/image/${vehicle.image}.png`" alt="motor" class="w-full h-full absolute bottom-0 z-[6] rounded-[.2366vw] object-cover" draggable="false">
                        <div class="absolute top-0 left-0 w-full h-full bg-black/[.86] z-[8] rounded-[.2366vw] backdrop-blur-[.2036vw]" v-if="userDetail.currentLevel < vehicle.level">
                            <div class="w-full h-full flex flex-col items-center justify-center">
                                <div class="w-[5.4052vw] h-[5.4052vw] flex items-center justify-center">
                                    <img src="./assets/image/hexagon-white.svg" alt="hexagon-white" class="w-[5.4052vw] h-[5.4052vw] absolute" draggable="false">
                                    <p class="text-[#B5B5B5] text-center font-chakra-semibold text-[1.9881vw] leading-[2.4048vw]">{{ vehicle.level }}</p>
                                </div>
                                <p class="text-[#B5B5B5] text-center font-chakra-semibold text-[1.9467vw] leading-[2.0508vw]">{{ Locales['LEVEL'] }}</p>
                            </div>
                        </div>
                        <div class="flex flex-col justify-between z-[7] w-full h-full rounded-[.2366vw]">
                            <div class="w-full h-full flex flex-col items-center justify-end mb-[1.5625vw]">
                                <p class="text-[#E5E5E5] text-[1.0691vw] leading-[1.3816vw] font-chakra-bold max-w-[15.625vw] line-clamp-1 car-name">{{ vehicle.name }}</p>
                                <p class="text-[#E5E5E5] text-[.5926vw] leading-[.6967vw] font-chakra-semibold max-w-[15.625vw] line-clamp-1 car-description">{{ vehicle.desc }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-[23.2156vw] h-[36.1719vw] rounded-[.3389vw] bg-[#040404] relative p-[1.0938vw]" :id="selectedJob.id" :class="[selectedJob.id == 'sweet' ? 'shadow-[0vw_0vw_9.3568vw_0vw_#d74c8f3b]' : '', selectedJob.id == 'pizza' ? 'shadow-[0vw_0vw_9.3568vw_0vw_#ff41413b]' : '', selectedJob.id == 'hamburger' ? 'shadow-[0vw_0vw_9.3568vw_0vw_#ff41413b]' : '']">
                <img :src="`./assets/image/${selectedJob.image}.png`" alt="bg-0" class="w-full h-full absolute bottom-0 left-0 z-[6] rounded-[.3389vw] object-cover" draggable="false">
                <div class="flex flex-col justify-between z-[7] w-full h-full rounded-[.2366vw] items-center">
                    <div class="flex flex-col object-contain items-start justify-center z-[7] self-start">
                        <div class='w-max flex flex-col justify-center items-center'>
                            <div class="w-[3.0102vw] h-[3.0102vw] flex items-center justify-center">
                                <img src="./assets/image/hexagon.svg" alt="Hexagon" class="w-[3.0102vw] h-[3.0102vw] absolute" draggable="false">
                                <p class="text-[1.2813vw] font-chakra-semibold text-lightYellow leading-[1.3854vw]">{{ selectedJob.level }}</p>
                            </div>
                            <p class="w-max text-[1.0841vw] font-chakra-semibold text-lightYellow leading-[1.1883vw] text-center mt-[.1042vw]">{{ Locales['LEVEL'] }}</p>
                        </div>
                    </div>
                    <div class="w-[19.6469vw] h-max z-[7]">
                        <div class="px-[.4229vw] mb-[.6094vw]">
                            <p class="text-[#E5E5E5] font-chakra-bold text-[1.2263vw] leading-[1.3305vw] text-start job-name">{{ selectedJob.name }}</p>
                            <p class="text-[#E5E5E5] font-chakra-semibold text-[.5689vw] leading-[.673vw] text-start job-description">{{ selectedJob.description }}</p>
                        </div>
                        <!-- <div class="grid grid-template-2 gap-x-[.449vw] gap-y-[.5885vw] mb-[1.0115vw] w-[19.6657vw]">
                            <div class="w-[9.599vw] h-[2.4786vw] rounded-[.0617vw] px-[.625vw] py-[.3703vw] flex flex-col items-start justify-center border-[.0308vw] border-[#f6cbcb17] bg-[#14141463] shadow-[0vw_0vw_1.0259vw_0vw_#000000a6]">
                                <p class="text-[#F4F4F4] font-chakra-bold text-[.6677vw] leading-[.7719vw] max-w-[8.2292vw] line-clamp-1 w-max">Lorem Ipsum</p>
                                <p class="text-[#F4F4F4] font-chakra-medium text-[.5506vw] leading-[.6547vw] max-w-[8.2292vw] line-clamp-1 w-max">Text here</p>
                            </div>
                            <div class="w-[9.599vw] h-[2.4786vw] rounded-[.0617vw] px-[.625vw] py-[.3703vw] flex flex-col items-start justify-center border-[.0308vw] border-[#f6cbcb17] bg-[#14141463] shadow-[0vw_0vw_1.0259vw_0vw_#000000a6]">
                                <p class="text-[#F4F4F4] font-chakra-bold text-[.6677vw] leading-[.7719vw] max-w-[8.2292vw] line-clamp-1 w-max">Lorem Ipsum</p>
                                <p class="text-[#F4F4F4] font-chakra-medium text-[.5506vw] leading-[.6547vw] max-w-[8.2292vw] line-clamp-1 w-max">Text here</p>
                            </div>
                            <div class="w-[9.599vw] h-[2.4786vw] rounded-[.0617vw] px-[.625vw] py-[.3703vw] flex flex-col items-start justify-center border-[.0308vw] border-[#f6cbcb17] bg-[#14141463] shadow-[0vw_0vw_1.0259vw_0vw_#000000a6]">
                                <p class="text-[#F4F4F4] font-chakra-bold text-[.6677vw] leading-[.7719vw] max-w-[8.2292vw] line-clamp-1 w-max">Lorem Ipsum</p>
                                <p class="text-[#F4F4F4] font-chakra-medium text-[.5506vw] leading-[.6547vw] max-w-[8.2292vw] line-clamp-1 w-max">Text here</p>
                            </div>
                            <div class="w-[9.599vw] h-[2.4786vw] rounded-[.0617vw] px-[.625vw] py-[.3703vw] flex flex-col items-start justify-center border-[.0308vw] border-[#f6cbcb17] bg-[#14141463] shadow-[0vw_0vw_1.0259vw_0vw_#000000a6]">
                                <p class="text-[#F4F4F4] font-chakra-bold text-[.6677vw] leading-[.7719vw] max-w-[8.2292vw] line-clamp-1 w-max">Lorem Ipsum</p>
                                <p class="text-[#F4F4F4] font-chakra-medium text-[.5506vw] leading-[.6547vw] max-w-[8.2292vw] line-clamp-1 w-max">Text here</p>
                            </div>
                        </div> -->
                        <div class="w-[19.6657vw] h-[.3296vw] rounded-[.1098vw] mb-[.4635vw] bg-[#d9d9d938]">
                            <div :style="{ width: `${(userDetail.currentXp % 3000) / 3000 * 100}%` }" class="h-full rounded-[.1098vw]" :class="[selectedJob.id === 'select-a-job' ? 'bg-[#525252] shadow-[0vw_0vw_1.3987vw_0vw_#5252528c]' : '', selectedJob.id === 'pizza' ? 'bg-[#E02424] shadow-[0vw_0vw_1.3987vw_0vw_#E02424]' : '', selectedJob.id === 'hamburger' ? 'bg-[#E02424] shadow-[0vw_0vw_1.3987vw_0vw_#E02424]' : '', selectedJob.id === 'sweet' ? 'bg-[#e02d74c7] shadow-[0vw_0vw_1.3987vw_0vw_#D74C8F]' : '']"></div>
                        </div>
                        <div class="flex items-center justify-between w-[19.6657vw] mb-[1.5807vw]">
                            <div class="flex items-center gap-x-[.2083vw]">
                                <p class="text-white font-chakra-bold text-[.7289vw] leading-[.833vw]">0</p>
                                <p class="text-white font-chakra-bold text-[.7289vw] leading-[.833vw]">XP</p>
                            </div>
                            <div class="flex items-center gap-[.2083vw]">
                                <p class="font-chakra-bold text-[.7289vw] leading-[.833vw] text-center" :class="[selectedJob.id === 'select-a-job' ? 'text-[#525252] currentXp' : '', selectedJob.id === 'pizza' ? 'text-[#DB2626] red-text-shadow' : '', selectedJob.id === 'hamburger' ? 'text-[#DB2626] red-text-shadow' : '', selectedJob.id === 'sweet' ? 'text-[#D74C8F] pink-text-shadow' : '']">{{ userDetail.currentLevel }}</p>
                                <p class="font-chakra-bold text-[.7289vw] leading-[.833vw] text-center" :class="[selectedJob.id === 'select-a-job' ? 'text-[#525252] currentXp' : '', selectedJob.id === 'pizza' ? 'text-[#DB2626] red-text-shadow' : '', selectedJob.id === 'hamburger' ? 'text-[#DB2626] red-text-shadow' : '', selectedJob.id === 'sweet' ? 'text-[#D74C8F] pink-text-shadow' : '']">{{ Locales['LEVEL'] }}</p>
                            </div>
                            <div class="flex items-center gap-x-[.2083vw]">
                                <p class="text-white font-chakra-bold text-[.7289vw] leading-[.833vw]">3000</p>
                                <p class="text-white font-chakra-bold text-[.7289vw] leading-[.833vw]">XP</p>
                            </div>
                        </div>
                        <div class="flex w-full h-[1.8229vw] justify-between items-center">
                            <span class="flex w-[9.5833vw] h-full items-center justify-center rounded-[.1058vw] font-chakra-bold text-[.6586vw] leading-[.7628vw] text-[#E0E0E0] cursor-pointer" @click="SelectSound(null, false);SetupVehicleList();TransitionBetweenPages();" @mouseover="ButtonHover();" :class="[isJobSelected ? 'bg-[#525252] shadow-[0vw_0vw_1.5547vw_0vw_#5252528c]' : '', selectedJob.id === 'select-a-job' ? 'bg-[#525252] shadow-[0vw_0vw_1.5547vw_0vw_#5252528c]' : '', !isJobSelected && selectedJob.id === 'sweet' ? 'bg-[#D74C8F] shadow-[0vw_0vw_1.5547vw_0vw_#d24c8d82]' : '', !isJobSelected && selectedJob.id === 'pizza' ? 'bg-[#DC2727] shadow-[0vw_0vw_1.5547vw_0vw_#dc272782]' : '', !isJobSelected && selectedJob.id === 'hamburger' ? 'bg-[#DC2727] shadow-[0vw_0vw_1.5547vw_0vw_#dc272782]' : '' ]">{{ Locales['CHOOSE_YOUR_VEHICLE'] }}</span>
                            <span class="flex w-[9.5833vw] h-full items-center justify-center rounded-[.1058vw] font-chakra-bold text-[.6586vw] leading-[.7628vw] text-[#E0E0E0] cursor-pointer" @click="SelectSound(null, false);StartDuty();" @mouseover="ButtonHover();" :class="[!isJobSelected ? 'bg-[#525252] shadow-[0vw_0vw_1.5547vw_0vw_#5252528c]' : '', isJobSelected && selectedJob.id === 'sweet' ? 'bg-[#D74C8F] shadow-[0vw_0vw_1.5547vw_0vw_#d24c8d82]' : '', isJobSelected && selectedJob.id === 'pizza' ? 'bg-[#DC2727] shadow-[0vw_0vw_1.5547vw_0vw_#dc272782]' : '', isJobSelected && selectedJob.id === 'hamburger' ? 'bg-[#DC2727] shadow-[0vw_0vw_1.5547vw_0vw_#dc272782]' : '' ]">{{ Locales['START_SHIFT'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


